//-------------------------------------
//Container
//-------------------------------------
.container {
  margin: 0 auto;
  width: 1170px;
}
.containerKpiArea {
  max-width: 1512px;
  margin: 0 64px;
}

.mainContainer {
  background: $mainColorPureWhite;
  padding: 0px 24px;
  box-shadow: $mainShadowBox;
}
//-------------------------------------
//Wrap
//-------------------------------------
.flexWrap {
  flex-wrap: wrap;
}
//-------------------------------------
// FlexBox
//-------------------------------------
.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.jcs {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.aic {
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.aie {
  align-items: end;
}

.tal {
  text-align: center;
}
//-------------------------------------
// Size
//-------------------------------------
.w25 {
  width: 25%;
}
.w33 {
  width: 33.33%;
}
.w50 {
  width: 50%;
}
.w75 {
  width: 75%;
}
.w100 {
  width: 100%;
}

.fixContent{
  width: fit-content;
}
//-------------------------------------
//Font
//-------------------------------------
body {
  font-family: $mainFont;
}

.BoldText {
  color: $mainColorBlack;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; 
  letter-spacing: -0.006px;
}

h4 {
  font-family: $mainFont;
  color: $mainColorBlack;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2px;
}

h5 {
  font-family: $mainFont;
  color: $mainColorWhite;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: left;
}
//-------------------------------------
//Gap
//-------------------------------------
.gp4{
  gap: 4px;
}
.gp5{
  gap: 5px;
}
.gp7{
  gap: 7px;
}
.gp8{
  gap: 8px;
}
.gp16{
  gap: 16px;
}
.gp24 {
  gap: 24px;
}
.gp32 {
  gap: 32px;
}
