//Colors
$mainColorNavyBlue: #1B3448;
$mainColorPureWhite: #FFF;
$mainColorWhite: #F6F8FB;
$mainColorGrayLightest: #F6F8FB;
$mainColorBlack: #000;



// Font
$mainFont: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;