.updateButtonKpi {
    border-radius: $bd6;
    background: $mainColorSkyBlue;
    padding: 8px 14px 8px 10px;
    color: $mainColorWhite;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.006px;
  }
  
  