#tooltipText {
  border-radius: $bd6;
  background: $mainColorNavyBlue;
  padding: 8px;
  color: $mainColorPureWhite;
  display: none;
}

.kpiButtonBox {
  border-radius: $bd6;
  background: $mainColorWhite;
  box-shadow: $mainShadowBox;
  width: 246px;
  height: 133px;
  padding: 24px;
  cursor: pointer;
}

.kpiButtonBox:focus {
  border-radius: $bd6;
  @extend %bd-solid-2-skyBlue ;
  background: $mainColorWhite;
  box-shadow: $mainShadowBox;
}
