.selectDropdown {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.006px;
}

.selectTrend {
  background: $mainColorPureWhite;
  padding: 8px 10px;
  border-radius: $bd6;
  @extend %bd-solid-1-gray;
  cursor: pointer;
  p {
    color: $mainColorGrayLightest500;
  }
}

.selectTrendMenu {
  color: $mainColorNavyBlue;
  padding: 5px;
  @extend %bd-solid-1-gray;
  cursor: pointer;
  border-radius: $bd4;
  ul li {
    border-radius: $bd4;
    padding: 8px;
  }
  ul li:hover {
    background: $mainColorGrayLightest;
  }
  ul li:active {
    background: $mainColorSkyBlue;
    color: $mainColorPureWhite;
  }
}
