.cardSettings {
  padding: 32px 24px;
}

@media screen and (max-width: 500px) {
  .cardSettings {
    padding: 32px 0;
  }
}

.iconBox {
  border-radius: $bd6;
  @extend %bd-solid-1-gray;
  background: $mainColorWhite;
  padding: 8px;
  cursor: pointer;
}

.iconBox:hover {
  border: 1px solid $mainColorGrayLightest500;
}

.iconBox:focus {
  border: 1px solid $mainColorSkyBlue;
}

input[type="text"],
input[type="number"],
textarea {
  padding: 8px 10px;
  align-self: stretch;
  border-radius: $bd6;
  background: $mainColorPureWhite;
  @extend %bd-solid-1-gray;
}



textarea{
 min-height: 95px !important;
 max-height: 95px !important;
 max-width: 100%;
 min-width: 100%;
 resize: none;
}

::placeholder {
  color: $mainColorGrayLightest500;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.006px;
}

.titleCardKpi {
  color: $mainColorNavyBlue;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.006px;
}

.boldNumberCardKpi {
  color: $mainColorNavyBlue;
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-family: $mainFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.33px;
}

.updateButtonKpi {
  border-radius: $bd6;
  background: $mainColorSkyBlue;
  padding: 8px 14px 8px 10px;
  color: $mainColorWhite;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.006px;
}








































