.cardSettings {
  padding: 32px 24px;
}

.allElementsInput {
}

.iconBox {
  border-radius: 6px;
  border: 1px solid #e1e8ee;
  background: $mainColorWhite;
  padding: 8px;
  cursor: pointer;
}

.iconBox:hover {
  border: 1px solid #9eb0be;
}

.iconBox:focus {
  border: 1px solid #0aa9ec;
}

input[type="text"],
input[type="number"] {
  padding: 8px 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #e1e8ee;
  background: $mainColorWhite;
}

::placeholder {
  color: #9eb0be;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.006px;
}

.titleCardKpi {
  color: #1b3448;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.006px;
}

.boldNumberCardKpi {
  color: #1b3448;
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-family: $mainFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.33px;
}

.tooltipText {
  color: $mainColorWhite;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.006px;
  padding: 8px;
  border-radius: 6px;
  background: #1b3448;
}
