.addKpiArea {
  background: $mainColorGrayLightest;
  padding: 64px 0;
}

.kpiButtonAddElement {
  width: 246px;
  height: 133px;
  padding: 24px;
  border-radius: 6px;
  border: 1px dashed #9eb0be;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 0px 6px 0px rgba(0, 0, 0, 0.02);
}

.kpiButtonBox {
  border-radius: 6px;
  background: $mainColorWhite;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 0px 6px 0px rgba(0, 0, 0, 0.02);
  width: 246px;
  height: 133px;
  padding: 24px;
  cursor: pointer;
}

.kpiButtonBox:focus {
  border-radius: 6px;
  border: 2px solid #0aa9ec;
  background: $mainColorWhite;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 0px 6px 0px rgba(0, 0, 0, 0.02);
}
