.addKpiArea {
  background: $mainColorGrayLightest;
  padding: 64px 0;
}

.kpiButtonAddElement {
  width: 246px;
  height: 133px;
  padding: 24px;
  border-radius: $bd6;
  @extend %bd-dashed-1-gray ;
  box-shadow: $mainShadowBox;
}
